REACT_APP_STRIPE_PUBLISHABLE_KEY=
REACT_APP_API_BASE_URL=
REACT_APP_API_Login_URL=
REACT_APP_AIMAPIresult_send=
React_APP_ReceiveMove_API=
React_APP_SECRET_KEY=
React_APP_API_signup_URL=
React_APP_API_guest_URL = 
React_APP_ADD_toQueue_API=
React_APP_API_GAMES_URL = 