
.keyboard-container {
  display: inline-table;
  flex-direction: row;
  align-items: center;
  width: 55%;
  margin-top: 20px;
  position: absolute; 
  cursor: grab; 
  z-index: 100; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  background-color: #98a1b7;
}
.keyboard-container.dragging {
  cursor: grabbing; 
}
.toggle-container {
  margin-top: 5px;
}
.toggle {
  padding: 4px;
  font-size: 16px;
  background-color: #5e617f;
  border: 2px solid #8e4848;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle:hover {
  background-color: #9bad50;
  transform: scale(1.1);
}

.keyboard-toggle-button {
  padding: 10px;
  background-color: #4CAF50 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  margin-right: 8px !important;
  transition: background-color 0.3s ease !important;
}

.keyboard-toggle-button:hover {
  background-color: #45a049 !important;
}

.closebutton-container{
  margin-top: 2px;
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.key-button {
  padding: 4px;
  font-size: 16px;
  margin: 4px;
  border: 2px solid #286f1b;
  background-color: #021e08;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-button:hover {
  background-color: #c3e636;
  transform: scale(1.1);
}

.backspace {
  background-color: #ff4d4d;
  color: rgb(31, 30, 59);
}

.space {
  width: 100px;
}

.enter {
  width: 100px;
}

.close-button-keyboard {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: #286f1b;
}

.close-button:hover {
  color: red;
}

@media (max-width: 600px) {
  .keyboard-row {
    flex-wrap: wrap;
  }
}

