.payment-status-container-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0f5d0f;
  color: white;
  text-align: center;
}

.payment-status-container-success h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.payment-status-container-success p {
  font-size: 18px;
  margin-bottom: 25px;
}

.payment-status-container-success .btn {
  background-color: #399F2E;
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.payment-status-container-success .btn:hover {
  background-color: #45a049;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

/* Loading state (you can customize the loading text style as needed) */
.loading-message {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
}


/* .payment-status-container-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f5d0f;
    color: white;
    text-align: center;
  }
  
  .payment-status-container-success h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .payment-status-container-success p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .payment-status-container-success .btn {
    background-color: #399F2E;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
  }
  
  .payment-status-container-success .btn:hover {
    background-color: #45a049;
  }
   */